#mundo {
    background-color: cadetblue;
}
#mudar:hover {
    color: red;
    
    background-color: beige;

}
h1{
    color:pink;
    text-align:center;
}

button{
    color: red;
    display: block;
    margin: 20px auto;
    padding: 10px;
    font-size: 16px;
}
